body
		{
			margin:0;
			padding:0;
            font-family:monospace;
            background:#f5f5f5;
		}
        
#header
		{
			margin: 0 0 0.7em;
			background:#1f1f1f;
            color:#f0f0f0;
            font-family:monospace;
			text-align:center;
			padding:10px;
		}
#content_container
		{
			padding-bottom:3em;
            font-size:140%;
            
		}
#footer
		{
			bottom:0px;
			background:#1f1f1f;
			text-align:center;
            font-family:monospace;
            color:#ffffff;
			width:100%;
            font-size:1em;
		}
        a:link { text-decoration:none; color:#666666;}
        a:visited { text-decoration:none;color:#666666; }
        a:hover { color:green;}
        a:active { text-decoration:none; }
        a:focus { text-decoration:none; }

#menu {
	border:3px dotted #dedede;
	margin:0;
	margin-left:0.5em;
	padding:0.5em;
	float:left;
	width:9em;
}

/* Der IE soll das Element breiter darstellen, da margin und
   padding hier von der Breite abgezogen werden! */

* html #menu {
	width:10.5em;
}

#menu li {
	list-style: none;
	margin:0;
	padding:0.3em;
}

#menu li#active {
	padding:0.5em;
	text-decoration:underline;
}

#menu a:link, #menu a:visited {
	display:block;
	background:#eee;
	color:black;
	text-decoration:none;
	margin:0;
	padding:0.2em;;
}

#menu a:hover {
	background:#4f4f4f;
	color:#ffffff;
	text-decoration:underline;
}

#content {
	border:3px outset #aeaeae;
	padding:0;
	margin-left:0.5em;
	margin-right:0.5em;
}

* html div#content {
	height:1em;  /* Workaround gegen den 3-Pixel-Bug des Internet Explorers */
	padding-top:1em;
}

a.button {
    background: transparent url('/content/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.button span {
    background: transparent url('/content/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

input.btn { 
	  color:#ffffff; 
	  font: bold small monospace;
      font-size:75%;
      background-color: #1f1f1f; 
	}

input.btnhov { 
	  border-color: #ee2222 #930 #930 #ee2222;
      font-size:75%;
      color:#ee2222;
    }
input[disabled] {
    font: bold small monospace;
    background-color: #1f1f1f;
    font-size:75%;
	color: GrayText;
}
