body
		{
	margin:0;
	padding:0;
        font-family:monospace;
        background:#F5F5F5;
      	background: -webkit-gradient(linear, left top, right top, from(#f0f0f0), to(#fcfcfc));
	background: -moz-linear-gradient(left, #f0f0f0, #fcfcfc );
		}
        
#header
		{
	margin: 0 0 0.7em;
	background:#1f1f1f;
        color:#f0f0f0;
        font-family:monospace;
	text-align:center;
	padding:10px;
        border-bottom:2px outset #FF0000;
	text-shadow: 0px 0px 15px red;

		}
#content_container
		{
		padding-bottom:3em;
		font-size:130%;
            
		}
#footer
		{
            border-top:2px outset #FF0000;
			bottom:0px;
			background:#1f1f1f;
			text-align:center;
            font-family:monospace;
            color:#ffffff;
			width:100%;
            font-size:1em;
		}
        
a:link { text-decoration:none; color:#666666;}
a:visited { text-decoration:none;color:#666666; }
a:hover { color:red}
a:active { text-decoration:none; }
a:focus { text-decoration:none; }

h3 {
  text-shadow: 1px 3px 3px grey;

}


#menu {
	border:3px dotted #dedede;
	margin:0;
	margin-left:0.5em;
	padding:0.5em;
	float:left;
	width:9em;
}


#menu li {
	list-style: none;
	margin:0;
	padding:0.3em;
}

#menu li#active {
	padding:0.5em;
	text-decoration:underline;
}

#menu a:link, #menu a:visited {
	display:block;
	background:#eee;
	color:black;
	text-decoration:none;
	margin:0;
	padding:0.2em;;
}

#menu a:hover {
	background:#4f4f4f;
	color:#ffffff;
	text-decoration:underline;
}

#content {
	background: #f0f0f0;
	border: 2px outset;
	padding:10px;
	margin-left:0.5em;
	margin-right:0.5em;
	border-radius: 20px;
	-moz-border-radius: 20px;
    background: -webkit-gradient(linear, left top, right bottom, from(#f0f0f0), to(#dadada));
	background: -moz-linear-gradient(top left, #f0f0f0, #e0e0e0 );
	/*
	 * comment out due low performance in ff
	 * -moz-box-shadow: inset 1px 6px 32px lightgrey, inset -1px -5px 15px grey, 1px 2px 1px black; */
	box-shadow: inset 1px 6px 32px lightgrey, inset -1px -5px 15px grey, 1px 2px 1px black;
}

#imagebox {
    background-color: #ffffff;
	
	border-radius: 20px;
	-moz-border-radius: 20px;
	padding:5px;
	margin-left:auto;
	margin-right:auto;
    width:90%;
    text-align:center;
    box-shadow: inset 1px 6px 32px lightgrey, inset -1px -5px 15px grey, 1px 2px 1px black;
    -moz-box-shadow: inset 1px 6px 32px lightgrey, inset -1px -5px 15px grey, 1px 2px 1px black;
    -webkit-box-shadow: inset 1px 6px 32px lightgrey, inset -1px -5px 15px grey, 1px 2px 1px black;
}

tr.tablehdr {
    text-shadow: 2px 3px 3px grey;
}

tr.evenodd:nth-child(2n+1) {
    background: #d0d0d0;
    background: -moz-linear-gradient(top left, #d0d0d0, #f5f5f5 );
}


* html div#content {
	height:1em;  /* Workaround gegen den 3-Pixel-Bug des Internet Explorers */
	padding-top:1em;
}

.red {
    color: #ff0000;
}

.redblink {
    text-decoration: blink;
    color: #ff0000;
}
.green {
    color: #009900;
}

a.button {

    border-radius: 20px;
    -moz-border-radius: 20px;
    background: lightgrey;
    box-shadow: inset 1px 6px 32px lightgrey, inset -1px -5px 15px grey, 1px 2px 1px black;
    -moz-box-shadow: inset 1px 6px 32px lightgrey, inset -1px -5px 15px grey, 1px 2px 1px black;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.button span {

    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}

a.button:active {
    background-position: bottom right;
    box-shadow: inset 1px 6px 32px lightgrey, inset -1px -5px 15px grey;
    -moz-box-shadow: inset 1px 6px 32px lightgrey, inset -1px -5px 15px grey;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

input.btn { 
   font: bold small monospace;
   font-size:75%;
   border-radius: 6px;
   -moz-border-radius: 6px;
   color:#ffffff;
   background: #1f1f1f;
   background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#bbb));
   background: -moz-linear-gradient(top, #000, #bbb);
   border: 1px solid #bbb;
 }
input.btnhov { 
      border-color: #ee2222 #930 #930 #ee2222;
      font-size:75%;
      color:#ee2222;
    }
input[disabled] {
    font: bold small monospace;
    font-size:75%;
    color: GrayText;
}

.leftspace {
    padding-left: 10px;
    padding-right: 10px;
    border-spacing: 3px;

}

:invalid { background-color: red; }
