<?xml version="1.0" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>PList Schuldenliste</title>
  <link rel="stylesheet" type="text/css" href="/content/styles.css" />
  <script type="text/javascript" src="/content/jquery-1.2.6.min.js"></script>
  <script type="text/javascript" src="/content/json2.js"></script>
</head>
<body>
    <h1 id='header' >{% block titel %}Django Beispielseite{% endblock %}</h1>

    {% block inhalt %}
    test
    {% endblock %}

  	<div id="footer"> 
		Version {{ version }}<br>
        This application is free software and is distributed under the terms of the <a href='http://www.gnu.org/licenses/gpl.txt'>GPL v3</a>
        
	</div> 
</body>
</html>

