{% extends "basis.html" %}

{% block titel %}Neuen Gast anlegen{% endblock %}

{% block inhalt %}
<font color='red'>{{ error }}</font>
<form method='post' action='.'>
<div id='content'>
<table>

{{ registerForm }}
    <tr>
        <td> 
<input type='submit' name='Register' value='Abschicken' 
    class='btn' onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'" ></td>
    </tr>
</table>
</div>
</form>
<br>
<a class='button' href='{%url plist.views.customerList %}'><span>zur&uuml;ck</span></a>
<br><br>
{% endblock %}

