{% extends "basis.html" %}

{% block titel %}Schuldenliste:{% endblock %}

{% block inhalt %}
<font color='red'>{{ error }}</font>
{% if unname %}
{% if unmoney %}
<form method='post' action='.'>
    <input type='hidden' name='customer' value='{{ unname }}' />
    <input type='hidden' name='unmoney' value='{{ unmoney }}' />
    <input type='submit' name='undo' value='Rueckgaengig: {{ unname }} - {{ unmoney }}' />
</form>
{% endif %}
{% endif %}
<table width='100%'>
<tr>
    <td>Name</td>
    <td>Schulden</td>
    <td>kaufen</td>
    <td>bezahlen (Punkt als Trennzeichen)</td>
    <td>zuletzt bezahlt</td>
</tr>

{% for c in customer %}
     <tr>
        <td> <a href='{{ c.id }}'>{{ c.name }}</a></td>
        <td>
        {% ifequal c.dept_status 0 %} 
        <b>{{ c.depts }}</b>
        {% else %}
        <b><font color='red'>{{ c.depts }}</font></b>
        {% endifequal %}
        </td>
        <td>
        <table>
            <tr>
        {% for p in prices %}
        <td><form method='post' action='.'>
            <input type='hidden' name='customer' value='{{ c.name }}' />
            <input type='hidden' name='buy' value='{{ p }}' />
            <input type='submit' name='{{ p }}' value='{{ p }} ct' {% ifequal c.dept_status 2 %} disabled=true {% endifequal %}/>
        </form></td>
        {% endfor %}
              </tr>
        </table>
        <td><form method='post' action='.'>
            <input type='text' name='money' />
            <input type='hidden' name='customer' value='{{ c.name }}' />
            <input type='submit' name='pay' value='bezahlen' />
        </form></td>

        </td>
        <td> {{ c.lastPaid.date }}</td>
        <td><form method='post' action='.'>
            <input type='hidden' name='customer' value='{{ c.name }}' />
            <input type='submit' name='delete' value='delete' {% ifnotequal c.depts 0 %}disabled=true{% endifnotequal %}/>
        </form></td>
    </tr>   
    
{% endfor %}
<tr><td>
Wochenumsatz
</td><td>
<b>{{ weekly }}</b>
</td>
</tr>
</table>
<a href='./register/'>Register</a> a new customer
{% endblock %}


