{% extends "basis.html" %}

{% block titel %}Schuldenliste:{% endblock %}

{% block inhalt %}
<table width='100%' border='0'>
<tr><td width='25%'>Name:</td><td>
{{ customer.name }}
</td>
<td width='50%'>
<div align='right'>
<form method='post' action='..'>
<input type='hidden' name='customer' value='{{ customer.name }}' />
<input type='submit' name='inform' value="Erinnerungsmail verschicken" />
</form>
</div>
</td>
</tr>
{% if customer.isPuente %}
<tr><td>
<b>P&uuml;ntenteam</b>
</td></tr>
{% endif %}
<tr><td>Email:</td><td>
<a href='mailto:{{customer.email }}'>{{customer.email }}</a>
</td></tr>
<tr><td>Zimmer:</td><td>
{{ customer.room }}
</td></tr>
<tr><td>Schulden:</td><td>
{{ customer.depts }}
</td></tr>
<tr><td>Umsatz seit {{ customer.salesSince }}:</td><td>
{{ customer.weeklySales }}
</td></tr>
<tr><td>Kommentar:</td></tr>
<tr><td colspan='2'>
<form method='post' action='..'>
<textarea name='comment' rows='4' cols='30' />{{ customer.comment }}</textarea>
<input type='hidden' name='customer' value='{{ customer.name }}' />
<input type='submit' name='addComment' value='Kommentar &auml;ndern' />
</form>
</td></tr>
</table>



<a href='..'>zur&uuml;ck</a>

{% endblock %}


