{% extends "basis.html" %}

{% block titel %}Transaktionen{% endblock %}

{% block inhalt %}
<div id="content_container">
<table align='center'>
    <tr>
        <td> <a class='button' background='#4f4f4f' href='{%url plist.views.customerList %}'><span>Zur&uuml;ck</span></a></td>
    </tr>
    <tr>
        <td>
        Seite:
        {% for i in numPages %}
            {% ifequal i actualPage %}
                {{ i }}
            {% else %}
                <a href='{%url plist.views.transactionList type i %}'>{{ i }}</a>
            {% endifequal %}
        {% endfor %}
        </td>
    </tr>
</table>

<div id="content">
<table width='100%' >
    <tr>
    <td></td>
    <td>Gast</td>
    <td>Preis</td>
    <td>Uhrzeit/Datum</td>
    </tr>
    <tr>
    <td colspan='4'><hr></td>
    </tr>
    {% for t in transactions %}
    {% if forloop.counter|divisibleby:"2" %}
    <tr>
    {% else %}
    <tr class='darkbackground'>
    {% endif %}
        <td>{{ forloop.counter|add:startItem }}.</td>
        <td>{{ t.customer }}</td>
        <td>{{ t.price }} &euro;</td>
        <td>{{ t.time|date:"H:i:s, d.M.Y" }} (Woche {% for i in t.time.isocalendar %}{% ifequal forloop.counter 2 %}{{ i }}{% endifequal %}{% endfor %})</td>
    </tr>
    {% endfor %}
</table>

</div>

<table align='center'>
    <tr>
        <td>
        Seite:
        {% for i in numPages %}
            {% ifequal i actualPage %}
                {{ i }}
            {% else %}
                <a href='{%url plist.views.transactionList type i %}'>{{ i }}</a>
            {% endifequal %}
        {% endfor %}
        </td>
    </tr>
    <tr>
        <td> <a class='button' background='#4f4f4f' href='{%url plist.views.customerList %}'><span>Zur&uuml;ck</span></a></td>
    </tr>
</table>
</div>
<div id='imagebox' align='center' >
            <object type="image/svg+xml" 
                    data='/content/stats/{{ type }}.svg' 
                    width="1024" height="540">
            </object>
</div>
<p></p>
{% endblock %}


