{% extends "basis.html" %}

{% block titel %}Neuen Gast anlegen{% endblock %}

{% block inhalt %}
<font color='red'>{{ error }}</font>
<form method='post' action='.'>
<div class='content'>
<table>

{{ registerForm }}
    <tr>
        <td> 
<input type='submit' name='Register' value='Abschicken' 
    class='jsbtn' ></td>
    </tr>
</table>
</div>
</form>
<p></p>
<table align='center'>
    <tr>
        <td height='50px' ><a class='button' href='{% url plist.views.customerList %}'><span>zur&uuml;ck</span></a></td>
    </tr>
</table>
<p></p>
{% endblock %}

