{% extends "basis.html" %}

{% block titel %}Transaktionen{% endblock %}

{% block inhalt %}
<div id="content_container">
<div id="tabs">
<ul style="font-size: 75%">
<li><a href='#tabs-1'>Liste</a></li>
<li><a href='#tabs-2'>Statistik</a></li>
<li><a href='{%url plist.views.customerList %}' onclick="location='{%url plist.views.customerList %}'; return false;">Zur&uuml;ck</a></li>
</ul>

<div id="tabs-1" style="color:black;">
<table align='center'>
    <tr>
        <td align='center'>
        Seite:<br>
        {% for i in numPages %}
            {% ifequal i actualPage %}
                <span style="color: red;">{{ i }}</span>
            {% else %}
                <a href='{%url plist.views.transactionList type i %}' style="color:black;">{{ i }}</a>
            {% endifequal %}
        {% endfor %}</td>
    </tr>
</table>

<div class="content">
<table width='100%' >
    <tr class='tablehdr' >
    <td></td>
    <td>Gast</td>
    <td>Preis</td>
    <td>Uhrzeit/Datum</td>
    </tr>
    <tr>
    <td colspan='4'><hr></td>
    </tr>
    {% for t in transactions %}
    <tr class='evenodd' >

        <td>{{ forloop.counter|add:startItem }}.</td>
        <td>{{ t.customer }}</td>
        <td>{{ t.price }} &euro;</td>
        <td>{{ t.time|date:"H:i:s, d.M.Y" }} (Woche {% for i in t.time.isocalendar %}{% ifequal forloop.counter 2 %}{{ i }}{% endifequal %}{% endfor %})</td>
    </tr>
    {% endfor %}
</table>

</div>



<table align='center'>
    <tr>
        <td>
        Seite:
        {% for i in numPages %}
            {% ifequal i actualPage %}
                <span style="color: red;">{{ i }}</span>
            {% else %}
                <a href='{%url plist.views.transactionList type i %}' style="color: black;">{{ i }}</a>
            {% endifequal %}
        {% endfor %}
        </td>
    </tr>

</table>
</div>



<div id="tabs-2">
<div id='imagebox' align='center' >
            <object type="image/svg+xml" 
                    data='/content/stats/{{ type }}.svg' 
                    width="1024" height="540">
            </object>
</div>
</div>
</div>
</div>

<p></p>
{% endblock %}


