{% extends "basis.html" %}

{% block titel %}P&uuml;nte Schuldenliste{% endblock %}

{% block inhalt %}
<div id="content_container">

<script>
        var buy = function(name, price, pos) {
            var customer = name
            var ajax = "yes";
            
                
            if (customer != "" && price != "") {
                if (pos == true) {
                    var data = { customer:customer, buy:price, ajax:ajax };
                    var args = { type:"POST", url:".", data:data, complete:done };
                    $.ajax(args);
                } else {
                    var data = { customer:customer, pay:"true", money:price, ajax:ajax };
                    var args = { type:"POST", url:".", data:data, complete:done };
                    $.ajax(args);
                }
            }
            else {


            }
            return false;
            };
            
            var done = function(res, status) {
              if (status == "success") {

                var data = JSON.parse(res.responseText);
                if (data['status'] == '0' ) {
                    $("#buyrow"+data['id']+" > * > * > input[type='submit']").attr("disabled", false);
                    var newDepts = $("<td id='depts"+data['id']+"'><b>"+data['depts']+' &euro;</b></td>');
                } else if (data['status'] == '-1' ) {
                    $("#buyrow"+data['id']+" > * > * > input[type='submit']").attr("disabled", false);
                    var newDepts = $("<td id='depts"+data['id']+"'><b class='green'>"+data['depts']+' &euro;</b></td>');
                } else if (data['status'] == '1') {
                    $("#buyrow"+data['id']+" > * > * > input[type='submit']").attr("disabled", false);
                    var newDepts = $("<td id='depts"+data['id']+"'><b class='red' >"+data['depts']+' &euro;</b></td>');
                } else {
		  $("#buyrow"+data['id']+" > * > * > input[type='submit']").attr("disabled", true);
		  var newDepts = $("<td id='depts"+data['id']+"'><b class='redblink' >"+data['depts']+' &euro;</b></td>');
		}
                if (data['status'] == '2' || (data['lock'] == true && data['status'] != -1 && data['isPuente'] == false)) {
                    $("#buyrow"+data['id']+" > * > * > input[type='submit']").attr("disabled", true);
                }
                var newLastPaid = $("<td id='lastPaid"+data['id']+"' >"+data['lastPaid']+"</td>")
                if (data['depts'] == '0.0' || data['depts'] == '0') {
                    $("#del"+data['id']).attr("disabled", false);
                } else {
                    $("#del"+data['id']).attr("disabled", true);
                }
                $("#punname").attr("value", data['unname']);
                $("#punmoney").attr("value", data['unmoney']);
                $("#pundo").attr("value", "Rückgängig: "+data['unname']+" - "+data['unmoney']);
                $("#cunname").attr("value", data['unname']);
                $("#cunmoney").attr("value", data['unmoney']);
                $("#cundo").attr("value", "Rückgängig: "+data['unname']+" - "+data['unmoney']);
                $("#depts"+data['id']).replaceWith(newDepts);
                $("#lastPaid"+data['id']).replaceWith(newLastPaid);
                
                $("#ptSum").replaceWith("<b id='ptSum' >"+data['ptSum']+"</b>");
                $("#ptSales").replaceWith("<b id='ptSales' >"+data['ptSales']+"</b>");
                $("#cSum").replaceWith("<b id='cSum' >"+data['cSum']+"</b>");
                $("#cSales").replaceWith("<b id='cSales' >"+data['cSales']+"</b>");
              }
              else {
                var elem = $('#row'+data['id']);
                var msg_div = $('<tr><td colspan="6" ><font color="red"><p>No connection to server</p></font></td></tr>');
                msg_div.insertAfter(elem).fadeIn('slow').animate({opacity: 1.0}, 5000).fadeOut('slow',function() { msg_div.remove(); });
              }
            };
            
            $(document).ready(function() {
                {% for lp in lastPaidList %}
                $("#lastPaid{{ lp }}").attr("class", "red");
                {% endfor %}
                
            });


wmtt = null;
delay = null;
/*document.onmousemove = updateWMTT;
function updateWMTT(e) {
  if (wmtt != null && wmtt.style.display == 'block') {
    x = (e.pageX ? e.pageX : window.event.x) + wmtt.offsetParent.scrollLeft - wmtt.offsetParent.offsetLeft;
    y = (e.pageY ? e.pageY : window.event.y) + wmtt.offsetParent.scrollTop - wmtt.offsetParent.offsetTop;
    //wmtt.style.left = (x + 20) + "px";
    //wmtt.style.top   = (y - 200) + "px";
    wmtt.style.right = 20;
    wmtt.style.top = 20;
  }
}*/
function showWMTT(id) {
  wmtt = document.getElementById('tt');
  wmtt.innerHTML = "<div class='tablehdr'>"+id+"</div><object type='image/svg+xml' data='/content/stats/"+id+".svg' width='640px' height='400px'></object>"; 
  wmtt.style.top= 20+"px";
  wmtt.style.right= 20+"px";
  wmtt.style.left="";
  wmtt.style.position= "fixed";
  wmtt.style.display = "block";

}

function showNavWMTT(e, id) {
  name = "";
  if (id == "c") {
    name = "Statistik G&auml;ste";
  } else if (id == "p") {
    name = "Statistik P&uuml;ntenteam";
  } else {
    name = "Statistik Gesamt";
  }
  
  wmtt = document.getElementById('tt');
  wmtt.innerHTML = "<div class='tablehdr'>"+name+"</div><object type='image/svg+xml' data='/content/stats/"+id+".svg' width='640px' height='400px'></object>";
  wmtt.style.position= "absolute";
  wmtt.style.top = 130+"px";
  x = (e.pageX ? e.pageX : window.event.x);
  if (x+360 > window.innerWidth) {
    x = window.innerWidth-360;
    
  }
  
  wmtt.style.left = (x-320)+"px";
  wmtt.style.right = "";
  wmtt.style.display = "block";

}


function hideWMTT() {

  wmtt.style.display = "none";
}
</script>

<table align='center' width='90%' height='50px' style="font-size:65%;" class='nav' >
    <tr>
        <td> <a class='button' href='{% url plist.views.registerCustomer %}'><span>Neuer Gast</span></a></td>
        <td> <a class='button' onmouseover="this.finch = setTimeout(function() {showNavWMTT(event, 'c');}, 1000);" onmouseout="clearTimeout(this.finch);hideWMTT()" href='{% url plist.views.transactionList "c" 1 %}'><span>Statistik G&auml;ste</span></a></td>
        <td> <a class='button' onmouseover="this.finch = setTimeout(function() {showNavWMTT(event, 'p');}, 1000);" onmouseout="clearTimeout(this.finch);hideWMTT()" href='{% url plist.views.transactionList "p" 1 %}'><span>Statistik Team</span></a></td>
        <td> <a class='button' onmouseover="this.finch = setTimeout(function() {showNavWMTT(event, 'a');}, 1000);" onmouseout="clearTimeout(this.finch);hideWMTT()" href='{% url plist.views.transactionList "a" 1 %}'><span>Statistik Gesamt</span></a></td>
	<td> <a class='button' href='{% url plist.views.settingsPage %}'><span>Einstellungen</span></a></td>
    </tr>
</table>

<div class='red' id='error' >{{ error }}</div>
<div class='leftspace'>
<h3>P&uuml;ntenteam ({{ pmen|length }})</h3>
</div>
<div id="content">
<table width='100%'>
<tr class='tablehdr' >
    <td>Name</td>
    <td>Schulden</td>
    <td>kaufen</td>
    <td>bezahlen</td>
    <td>zuletzt bezahlt</td>
</tr>
<tr>
<td colspan='6'><hr></td>
</tr>
{% for pt in pmen %}
    
    <tr class='evenodd' id='row{{ pt.id }}'>
        <td> <a onmouseover="this.finch = setTimeout(function() {showWMTT('{{ pt.name }}');}, 750);" onmouseout="clearTimeout(this.finch);hideWMTT()" href='{% url plist.views.customerDetails pt.id %}'>{{ pt.name }}</a></td>
        <td id="depts{{ pt.id }}">
         {% ifequal pt.dept_status 0 %} 
        <b>{{ pt.depts }} &euro;</b>
         {% else %}{% ifequal pt.dept_status -1 %} 
        <b class='green' >{{ pt.depts }} &euro;</b>
        {% else %}
        <b class='red' >{{ pt.depts }} &euro;</b>
        {% endifequal %}{% endifequal %}
        </td>
        <td>
        <table>
            <tr id='buyrow{{ pt.id }}' >
        {% for p in pprices %}
        <td><form method='post' action='.'>
            <input type='hidden' name='customer' value='{{ pt.name }}' id='customer{{ pt.id }}_{{ p }}' />
            <input type='hidden' name='buy' value='{{ p }}' id='buy{{ pt.id }}_{{ p }}' />
            <input type='submit' name='{{ p }}' id='buybtn{{ pt.id }}_{{ p }}' value='{{ p }} ct' {% ifequal pt.dept_status 2 %} disabled=true {% endifequal %}
                class='btn' onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'" />
        </form></td>
        <script>
         $("#buybtn{{ pt.id }}_{{ p }}").click(function() {
             buy("{{ pt.name }}", "{{ p }}", true);
             return false;
             });  
        </script>
        {% endfor %}
              </tr>
        </table>
        <td><form method='post' action='.'>
            <input type='number' name='money' id='paymoney{{ pt.id }}' placeholder='bezahlen' min='-100.00' max='100.00' step='0.01' />
            <input type='hidden' name='customer' value='{{ pt.name }}' />
            <input type='submit' name='pay' value='bezahlen' id='paybtn{{ pt.id }}'
                class='btn' onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'" />
        </form></td>
  <!--       <script>
        $("#paybtn{{ pt.id }}").click(function() {
             buy("{{ pt.name }}", $("#paymoney{{ pt.id }}").val(), false);
             $("#paymoney{{ pt.id }}").attr("value", "");
             return false;
             });  
        </script>-->
        <td id='lastPaid{{ pt.id }}' > {{ pt.lastPaid.date|date:"D, d.M. Y" }}</td>
        <td><form method='post' action='.'>
            <input type='hidden' name='customer' value='{{ pt.name }}' />
            <input type='submit' name='delete' value='delete' id='del{{ pt.id }}' {% ifnotequal pt.depts 0 %}disabled=true{% endifnotequal %}
                class='btn' onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'" />
        </form></td>
    </tr>   
    
{% endfor %}
<tr>
<td colspan='6'><hr></td>
</tr>
<tr><td>
Summe
</td><td>
<b id='ptSum' >{{sum.3 }}</b>
</td>
</tr>
<tr><td>
Wochenumsatz
</td><td>
<b id='ptSales' >{{sum.2 }}</b>
</td>
<td colspan='4' align='right'>
<form method='post' action='.'>
    <input type='hidden' name='customer' value='{{ unname }}' id='punname' />
    <input type='hidden' name='unmoney' value='{{ unmoney }}' id='punmoney' />
    <input type='submit' name='undo' value='R&uuml;ckg&auml;ngig: {{ unname }} - {{ unmoney }}' id='pundo'
                class='btn' onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'" />
</form>
</td>
</tr>

</table>
</div>


<div class='leftspace'><h3>G&auml;ste ({{ customer|length }})</h3></div>
<div id="content">
<table width='100%'>
<tr class='tablehdr' >
    <td>Name</td>
    <td>Schulden</td>
    <td>kaufen</td>
    <td>bezahlen</td>
    <td>zuletzt bezahlt</td>
</tr>
<tr>
<td colspan='6'><hr></td>
</tr>
{% for c in customer %}
    <tr class='evenodd' id='row{{ c.id }}'>

        <td><a onmouseover="this.finch = setTimeout(function() {showWMTT('{{ c.name }}');}, 750);" onmouseout="clearTimeout(this.finch);hideWMTT()" href='{% url plist.views.customerDetails c.id %}'>{{ c.name }}</a>
            {% if c.locked %}
            (gesperrt)
            {% endif %}
        </td>
        <td id="depts{{ c.id }}" >
        {% ifequal c.dept_status 0 %} 
        <b id='depts' >{{ c.depts }} &euro;</b>
        {% else %}{% ifequal c.dept_status -1 %} 
        <b id='depts' class='green' >{{ c.depts }} &euro;</b>
        {% else %}{% ifequal c.dept_status 1 %}
        <b id='depts' class='red' >{{ c.depts }} &euro;</b>
	{% else %}
	<b id='depts' class='redblink' >{{ c.depts }} &euro;</b>
        {% endifequal %}{% endifequal %}{% endifequal %}
        </td>
        <td>
        <table>
            <tr id='buyrow{{ c.id }}' >
        {% for p in prices %}
        <td><form method='post' action='.'>
            <input type='hidden' name='customer' value='{{ c.name }}' id='customer{{ c.id }}_{{ p }}' />
            <input type='hidden' name='buy' value='{{ p }}' id='buy{{ c.id }}_{{ p }}' />
            <input type='submit' name='{{ p }}' value='{{ p }} ct' id='buybtn{{ c.id }}_{{ p }}' {% ifequal c.dept_status 2 %} disabled=true {% else %}
                {% if lock or c.locked %}{% ifnotequal c.dept_status -1 %}{% ifnotequal c.id 1 %} disabled=true {% endifnotequal %}{% endifnotequal %}{% endif %}{% endifequal %}
                class='btn' onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'" />
        </form></td>
            <script>
             $("#buybtn{{ c.id }}_{{ p }}").click(function() {
                buy("{{ c.name }}", "{{ p }}", true);
             return false;
             }); 
            </script>
        
        
        {% endfor %}
              </tr>
        </table>
        <td><form method='post' action='.'>
            <input type='number' name='money' id='paymoney{{ c.id }}' placeholder='bezahlen' min='-100.00' max='100.00' step='0.01' />
            <input type='hidden' name='customer' value='{{ c.name }}' />
            <input type='submit' name='pay' value='bezahlen' id='paybtn{{ c.id }}'
                class='btn' onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'" />
        </form></td>
       <!-- <script>
         $("#paybtn{{ c.id }}").click(function() {
             buy("{{ c.name }}", $("#paymoney{{ c.id }}").val(), false);
             $("#paymoney{{ c.id }}").attr("value", "");
             return false;
             });  
        </script>-->
        <td id='lastPaid{{ c.id }}'> {{ c.lastPaid.date|date:"D, d.M. Y" }}</td>
        <td><form method='post' action='.'>
            <input type='hidden' name='customer' value='{{ c.name }}' />
            <input type='submit' name='delete' value='delete' id='del{{ c.id }}' {% ifnotequal c.depts 0 %}disabled=true{% endifnotequal %}
                class='btn' onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'" />
        </form></td>
    </tr>   
    
{% endfor %}
<tr>
<td colspan='6'><hr></td>
</tr>
<tr><td>
Summe
</td><td>
<b id='cSum' >{{ sum.1 }}</b>
</td>
</tr>
<tr><td>
Wochenumsatz
</td><td>
<b id='cSales' >{{ sum.0 }}</b>
</td>
<td colspan='4' align='right'>
<form method='post' action='.'>
    <input type='hidden' name='customer' value='{{ unname }}' id='cunname' />
    <input type='hidden' name='unmoney' value='{{ unmoney }}' id='cunmoney' />
    <input type='submit' name='undo' value='R&uuml;ckg&auml;ngig: {{ unname }} - {{ unmoney }}' id='cundo'
                class='btn' onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'" />
</form>
</td>
</tr>
</table>
</div>
<br>
</div>

<div id='tt' class='tooltip'>
    </div>

{% endblock %}


