{% extends "basis.html" %}

{% block titel %}Gastdetails{% endblock %}

{% block inhalt %}
<div id='content'>
<table width='100%' border='0'>
<tr><td width='15%'>Name:</td>
<td width='25%'>{{ customer.name }}</td>
<td><form method='post' action='{% url plist.views.customerEdit customer.id %}'>
<input type='submit' name='edit' value="editieren"  
                class='btn' onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'" /></form>
</td>
<td width='50%'>
<div align='right'>
<form method='post' action='..'>
<input type='hidden' name='customer' value='{{ customer.name }}' />
<input type='submit' name='inform' value="Erinnerungsmail verschicken"  
                class='btn' onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'" />
</form>
</div>
</td>
</tr>
{% if customer.isPuente %}
<tr><td>
<b>P&uuml;ntenteam</b>
</td></tr>
{% endif %}
<tr><td>Email:</td><td>
<a href='mailto:{{customer.email }}'>{{customer.email }}</a>
</td></tr>
<tr><td>Zimmer:</td><td>
{{ customer.room }}
</td></tr>
<tr><td>Schulden:</td><td>
{{ customer.depts }}
</td></tr>
<tr><td>Umsatz seit {{ customer.salesSince }}:</td><td>
{{ customer.weeklySales }}
</td></tr>
<tr><td>Kommentar:</td></tr>
<tr><td colspan='2'>
<form method='post' action='{% url plist.views.customerList %}'>
<textarea name='comment' rows='4' cols='30' />{{ customer.comment }}</textarea>
<input type='hidden' name='customer' value='{{ customer.name }}' />
<input type='submit' name='addComment' value='Kommentar &auml;ndern'  
                class='btn' onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'" />
</form>
</td>

</tr>
</table>
</div>
{% if transactions %}
<p></p>
<table align='center'>
    <tr height='50px'>
        <td><a class='button' href='{% url plist.views.customerList %}'><span>zur&uuml;ck</span></a></td>
    </tr>
</table>
<p></p>
<div id='imagebox' align='center' >
            <object type="image/svg+xml" 
                    data='/content/stats/{{ customer.name }}.svg' 
                    width="1024px" height="640px">
            </object>
</div>
<p></p>
<div class='leftspace'><h3>Transaktionen</h3></div>
<div id='content'>
<table width='100%' >
    <tr class='tablehdr' >
    <td width='5%'></td>
    <td>Preis</td>
    <td>Uhrzeit/Datum</td>
    </tr>
    <tr>
    <td colspan='3'><hr></td>
    </tr>
    {% for t in transactions %}
    <tr class='evenodd' >
        <td>{{ forloop.counter }}.</td>
        <td>{{ t.price }} &euro;</td>
        <td>{{ t.time|date:"H:i:s, d.M.Y" }}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endif %}
<p></p>
<table align='center'>
    <tr height='50px' >
        <td><a class='button' href='{% url plist.views.customerList %}'><span>zur&uuml;ck</span></a></td>
    </tr>
</table>
<p></p>
{% endblock %}


