{% extends "basis.html" %}

{% block titel %}P&uuml;nte Schuldenliste{% endblock %}

{% block inhalt %}
<div id="content_container">

<font color='red'>{{ error }}</font>
{% if unname %}
{% if unmoney %}
<form method='post' action='.'>
    <input type='hidden' name='customer' value='{{ unname }}' />
    <input type='hidden' name='unmoney' value='{{ unmoney }}' />
    <input type='submit' name='undo' value='R&uuml;ckg&auml;ngig: {{ unname }} - {{ unmoney }}' 
                class='btn' onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'" />
</form>
{% endif %}
{% endif %}
<h2>P&uuml;ntenteam</h2>
<div id="content">
<table width='100%'>
<tr>
    <td>Name</td>
    <td>Schulden</td>
    <td>kaufen</td>
    <td>bezahlen</td>
    <td>zuletzt bezahlt</td>
</tr>

{% for pt in pmen %}
     <tr id='{{ pt.id }}'>
        <td> <a href='{{ pt.id }}'>{{ pt.name }}</a></td>
        <td>
        {% ifequal pt.dept_status 0 %} 
        <b>{{ pt.depts }}</b>
        {% else %}
        <b><font color='red'>{{ pt.depts }}</font></b>
        {% endifequal %}
        </td>
        <td>
        <table>
            <tr>
        {% for p in pprices %}
        <td><form method='post' action='.#{{ pt.id }}'>
            <input type='hidden' name='customer' value='{{ pt.name }}' />
            <input type='hidden' name='buy' value='{{ p }}' />
            <input type='submit' name='{{ p }}' value='{{ p }} ct' {% ifequal pt.dept_status 2 %} disabled=true {% endifequal %}
                class='btn' onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'" />
        </form></td>
        {% endfor %}
              </tr>
        </table>
        <td><form method='post' action='.'>
            <input type='text' name='money' />
            <input type='hidden' name='customer' value='{{ pt.name }}' />
            <input type='submit' name='pay' value='bezahlen' 
                class='btn' onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'" />
        </form></td>

        </td>
        <td> {{ pt.lastPaid.date|date:"D, d.M. Y" }}</td>
        <td><form method='post' action='.'>
            <input type='hidden' name='customer' value='{{ c.name }}' />
            <input type='submit' name='delete' value='delete' {% ifnotequal pt.depts 0 %}disabled=true{% endifnotequal %}
                class='btn' onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'" />
        </form></td>
    </tr>   
    
{% endfor %}
<tr><td>
Summe
</td><td>
<b>{{sum.3 }}</b>
</td>
</tr>
<tr><td>
Wochenumsatz
</td><td>
<b>{{sum.2 }}</b>
</td>
</tr>

</table>
</div>
<h2>G&auml;ste</h2>
<div id="content">
<table width='100%'>
<tr>
    <td>Name</td>
    <td>Schulden</td>
    <td>kaufen</td>
    <td>bezahlen</td>
    <td>zuletzt bezahlt</td>
</tr>
{% for c in customer %}
     <tr id='{{ c.id }}'>
        <td> <a href='{{ c.id }}'>{{ c.name }}</a></td>
        <td>
        {% ifequal c.dept_status 0 %} 
        <b>{{ c.depts }}</b>
        {% else %}
        <b><font color='red'>{{ c.depts }}</font></b>
        {% endifequal %}
        </td>
        <td>
        <table>
            <tr>
        {% for p in prices %}
        <td><form method='post' action='.#{{ c.id }}'>
            <input type='hidden' name='customer' value='{{ c.name }}' />
            <input type='hidden' name='buy' value='{{ p }}' />
            <input type='submit' name='{{ p }}' value='{{ p }} ct' {% ifequal c.dept_status 2 %} disabled=true {% endifequal %}
                class='btn' onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'" />
        </form></td>
        {% endfor %}
              </tr>
        </table>
        <td><form method='post' action='.'>
            <input type='text' name='money' />
            <input type='hidden' name='customer' value='{{ c.name }}' />
            <input type='submit' name='pay' value='bezahlen'
                class='btn' onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'" />
        </form></td>

        </td>
        <td> {{ c.lastPaid.date|date:"D, d.M. Y" }}</td>
        <td><form method='post' action='.'>
            <input type='hidden' name='customer' value='{{ c.name }}' />
            <input type='submit' name='delete' value='delete' {% ifnotequal c.depts 0 %}disabled=true{% endifnotequal %}
                class='btn' onmouseover="this.className='btn btnhov'" onmouseout="this.className='btn'" />
        </form></td>
    </tr>   
    
{% endfor %}
<tr><td>
Summe
</td><td>
<b>{{ sum.1 }}</b>
</td>
</tr>
<tr><td>
Wochenumsatz
</td><td>
<b>{{ sum.0 }}</b>
</td>
</tr>
</table>
</div>
<br>
<table align='center'>
    <tr>
        <td> <a class='button' background='#4f4f4f' href='./register/'><span>Register</span></a> a new customer</td>
    </tr>
</table>

</div>
{% endblock %}


